USE [CSDL_sellPhone_main]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 16/05/2021 11:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[catID] [int] IDENTITY(1,1) NOT NULL,
	[catName] [nvarchar](50) NULL,
	[catDescription] [ntext] NULL,
	[catStatus] [ntext] NULL,
 CONSTRAINT [PK_catID] PRIMARY KEY CLUSTERED 
(
	[catID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[catID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 16/05/2021 11:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENT](
	[cliID] [int] IDENTITY(1,1) NOT NULL,
	[cliName] [nvarchar](30) NULL,
	[cliAddress] [nvarchar](50) NULL,
	[cliCountry] [nvarchar](30) NULL,
	[cliPostOfficeCode] [char](10) NULL,
	[cliPhone] [char](10) NULL,
	[cliStatus] [ntext] NULL,
 CONSTRAINT [PK_cliID] PRIMARY KEY CLUSTERED 
(
	[cliID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cliID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COLOR]    Script Date: 16/05/2021 11:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLOR](
	[prodID] [int] NOT NULL,
	[color1] [nvarchar](50) NULL,
	[color2] [nvarchar](50) NULL,
	[color3] [nvarchar](50) NULL,
	[color4] [nvarchar](50) NULL,
 CONSTRAINT [PK_prodID_color] PRIMARY KEY CLUSTERED 
(
	[prodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IMAGES]    Script Date: 16/05/2021 11:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGES](
	[prodID] [int] NOT NULL,
	[img1] [nvarchar](50) NULL,
	[img2] [nvarchar](50) NULL,
	[img3] [nvarchar](50) NULL,
	[img4] [nvarchar](50) NULL,
 CONSTRAINT [PK_prodID_img] PRIMARY KEY CLUSTERED 
(
	[prodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INFORMATION_ORDER]    Script Date: 16/05/2021 11:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFORMATION_ORDER](
	[infoOrderID] [int] IDENTITY(1,1) NOT NULL,
	[ordID] [int] NULL,
	[prodID] [int] NULL,
	[infoOrderSL] [int] NULL,
	[infoOrderPrice] [money] NULL,
	[infoStatus] [ntext] NULL,
 CONSTRAINT [PK_infoOrderID] PRIMARY KEY CLUSTERED 
(
	[infoOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[infoOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ORDERR]    Script Date: 16/05/2021 11:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERR](
	[ordID] [int] IDENTITY(1,1) NOT NULL,
	[ordDate] [date] NULL,
	[ordDescription] [ntext] NULL,
	[ordBill] [bit] NULL,
	[ordStatus] [ntext] NULL,
	[cliID] [int] NULL,
	[staID] [int] NULL,
 CONSTRAINT [PK_ordID] PRIMARY KEY CLUSTERED 
(
	[ordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 16/05/2021 11:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[prodID] [int] IDENTITY(1,1) NOT NULL,
	[prodName] [nvarchar](50) NULL,
	[prodPrice] [money] NULL,
	[prodSL] [int] NULL,
	[prodInit] [nvarchar](20) NULL,
	[prodCamera] [nvarchar](50) NULL,
	[prodMenory] [int] NULL,
	[prodReleaseYear] [int] NULL,
	[prodRAM] [int] NULL,
	[prodDescription] [ntext] NULL,
	[prodStatus] [ntext] NULL,
	[provID] [int] NULL,
	[catID] [int] NULL,
 CONSTRAINT [PK_prodID] PRIMARY KEY CLUSTERED 
(
	[prodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[prodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROVIDED]    Script Date: 16/05/2021 11:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVIDED](
	[provID] [int] IDENTITY(1,1) NOT NULL,
	[provFullName] [nvarchar](50) NULL,
	[provName] [nvarchar](20) NULL,
	[provAddress] [nvarchar](250) NULL,
	[provPostOfficeCode] [char](10) NULL,
	[provCountry] [nvarchar](25) NULL,
	[provPhone] [char](10) NULL,
	[provDescription] [ntext] NULL,
	[provStatus] [ntext] NULL,
 CONSTRAINT [PK_provID] PRIMARY KEY CLUSTERED 
(
	[provID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[provID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 16/05/2021 11:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STAFF](
	[staID] [int] IDENTITY(1,1) NOT NULL,
	[staName] [nvarchar](30) NULL,
	[staBirthday] [date] NULL,
	[staAddress] [nvarchar](50) NULL,
	[staImg] [image] NULL,
	[staPhone] [char](10) NULL,
	[staSex] [bit] NULL,
	[staDescription] [ntext] NULL,
	[staStatus] [ntext] NULL,
	[staSalary] [money] NULL,
	[staPosition] [nvarchar](20) NULL,
	[LoginID] [int] NULL,
 CONSTRAINT [PK_staID] PRIMARY KEY CLUSTERED 
(
	[staID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[staID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STAFF_LOGIN]    Script Date: 16/05/2021 11:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF_LOGIN](
	[LoginID] [int] IDENTITY(1,1) NOT NULL,
	[LoginUserName] [nvarchar](30) NOT NULL,
	[LoginPassword] [nvarchar](30) NOT NULL,
	[LoginStatus] [ntext] NULL,
 CONSTRAINT [PK_staffLoginID] PRIMARY KEY CLUSTERED 
(
	[LoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[ORDERR] ADD  DEFAULT (getdate()) FOR [ordDate]
GO
ALTER TABLE [dbo].[COLOR]  WITH CHECK ADD  CONSTRAINT [FK_prodID_color] FOREIGN KEY([prodID])
REFERENCES [dbo].[PRODUCT] ([prodID])
GO
ALTER TABLE [dbo].[COLOR] CHECK CONSTRAINT [FK_prodID_color]
GO
ALTER TABLE [dbo].[IMAGES]  WITH CHECK ADD  CONSTRAINT [FK_prodID_img] FOREIGN KEY([prodID])
REFERENCES [dbo].[PRODUCT] ([prodID])
GO
ALTER TABLE [dbo].[IMAGES] CHECK CONSTRAINT [FK_prodID_img]
GO
ALTER TABLE [dbo].[INFORMATION_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ordID] FOREIGN KEY([ordID])
REFERENCES [dbo].[ORDERR] ([ordID])
GO
ALTER TABLE [dbo].[INFORMATION_ORDER] CHECK CONSTRAINT [FK_ordID]
GO
ALTER TABLE [dbo].[INFORMATION_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_prodID] FOREIGN KEY([prodID])
REFERENCES [dbo].[PRODUCT] ([prodID])
GO
ALTER TABLE [dbo].[INFORMATION_ORDER] CHECK CONSTRAINT [FK_prodID]
GO
ALTER TABLE [dbo].[ORDERR]  WITH CHECK ADD  CONSTRAINT [FK_cliID] FOREIGN KEY([cliID])
REFERENCES [dbo].[CLIENT] ([cliID])
GO
ALTER TABLE [dbo].[ORDERR] CHECK CONSTRAINT [FK_cliID]
GO
ALTER TABLE [dbo].[ORDERR]  WITH CHECK ADD  CONSTRAINT [FK_staID] FOREIGN KEY([staID])
REFERENCES [dbo].[STAFF_LOGIN] ([LoginID])
GO
ALTER TABLE [dbo].[ORDERR] CHECK CONSTRAINT [FK_staID]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_catID] FOREIGN KEY([catID])
REFERENCES [dbo].[CATEGORY] ([catID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_catID]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_provID] FOREIGN KEY([provID])
REFERENCES [dbo].[PROVIDED] ([provID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_provID]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_LoginID] FOREIGN KEY([LoginID])
REFERENCES [dbo].[STAFF_LOGIN] ([LoginID])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_LoginID]
GO
ALTER TABLE [dbo].[INFORMATION_ORDER]  WITH CHECK ADD CHECK  (([infoOrderSL]>(0)))
GO
ALTER TABLE [dbo].[INFORMATION_ORDER]  WITH CHECK ADD CHECK  (([infoOrderPrice]>(0)))
GO
ALTER TABLE [dbo].[ORDERR]  WITH CHECK ADD CHECK  (([ordDate]>=getdate()))
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD CHECK  (([prodMenory]>(0)))
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD CHECK  (([prodPrice]>(0)))
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD CHECK  (([prodRAM]>(0)))
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD CHECK  (([prodReleaseYear]>(0)))
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD CHECK  (([prodSL]>(0)))
GO
